*{
    margin:0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*::selection{
    color: white;
    background-color: #95C11E;
}

html,body{
    width:100%;
    height:100%;
}
body::-webkit-scrollbar{
    display: block;
    width:5px;
    background-color: #fff;

}
body::-webkit-scrollbar-thumb{
    background-color: #95C11E;
    border-radius:50% ;
}
#cursor{
    width:15px;
    height: 15px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#nav{
    width:100%;
    height:120px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:80px;
    padding: 0 150px;
    position: fixed;
    z-index: 99;
}

#nav img{

    height: 75px;
    background-color: white;
}
#nav h4{
    text-transform: uppercase;
    font-size:25px;
    color:white;
    font-weight: 500;
}
#nav h4:hover{
    color:#95C11E;
    /* scale:3 */
}

video{
    height: 100%;
    width:100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    /* background-color: #000; */
}
#page1{
    height:100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index:10;
}
#page1 h1{
    font-size:100px;
    color: white;
    font-weight: 500;
}

#page1 h2{
    margin-top: 5px;
    font-weight: 400;
    font-size:100px;
    color: white;
    position: relative;
}

#page1 h2::before{
    content:"E-waste Smart Hub" ;
    position: absolute;
    top:-6px;
    left:-4px;
    color:black;
    z-index: -1;
    -webkit-text-stroke: 2px green;
}
#page1 h3{
    font-size:50px;
    color: white;
    font-weight: 500;
}
#page2{
    height: 100vh;
    width:100%;
    margin-top: 20px;
    z-index: 10;
    /* background-color: black; */
}
#page2 #scroller{

    /* background-color: red; */
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    position: relative;
    z-index: 10;  
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-timing-function: linear;
    animation-duration:23s;
    animation-iteration-count: infinite;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h3{
    display: inline-block;
    font-size: 75px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
    margin-right:50px;
    transition: all linear 0.5s;
}

@keyframes scroll{
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#scroller h3:hover{
    color:#95C11E;
}

#page2 #card-container{
    width:100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:80px;
    /* background-color: red; */
    z-index: 10;
    position: relative;
}

.cards{
    height: 80%;
    width:25%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color:#95C11E ;
    transition: all ease 0.5s;
}

#card1{
    background-image: url("https://images.unsplash.com/photo-1614201756100-1ccde6a6589e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80");
}

#card2{
    background-image: url("https://attero.in/wp-content/themes/attero/assets/images/home/minerals.jpg");
}

#card3{
    background-image: url("https://attero.in/wp-content/themes/attero/assets/images/home/endeavourSlide/5.jpg");
}

.overlay{
    width:100%;
    height: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top:100px ; 
    opacity: 0;
    transition: all ease 0.5s;    
        
}
.overlay h4{
   
    font-size:30px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom:20px;
    color:#000;
}
.overlay p{
    font-size:15px;
    text-transform: uppercase;
    text-align: left;
    color: #000;
}

.overlay:hover{
    opacity: 1;
}
.cards:hover{
    transform:rotate3d(1,1,0,20deg);
}

#page3{
    width:100%;
    height:80vh;
    /* background-color:red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
#page3 p{
    font-size: 40px;
    color:#fff;
    width:60%;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
}

#page3 img{

    height: 60px;
    position: absolute;
}
#page3 #colon1{
    top:15%;
    left:15%;
}

#page3 #colon2{
    right:14%;
    bottom:20%;
}

#page4{
    width:100%;
    height:50vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:0px;
}
#about-us{
   /* background-color: blue; */
   padding: 30px;
   width: 50%;
   /* height: 70%; */
}
#about-us h4{
    font-size:50px;
    font-weight: 900;
    color:#95C11E;
}

#about-us p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color:white;
}

#button{
    /*background: yellow; */
    border-radius: 100%;
    padding:20px;
}

#button a{
    font-size: 45px;
    color:#95C11E;
}

footer{
    height:40vh;
    background:linear-gradient(to left bottom,#95C11E,green);
    width:100%;
    
}

#footer{
    
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    gap: 0px;
    /* padding: 0 100px; */

}
#footer img{
    height: 150px;
}
#box1,#box2,#box3,#box4{
    /* border: 1px solid red; */
    /* background-color: red; */
    position: relative;
    z-index: 99;
    width:fit-content;

}

#box2 h4{
    font-size: 40px;
    color:black;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 10px;
    /* margin-top: 20px; */
}
#box3 h4{
    font-size: 40px;
    color:black;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 10px;
    /* margin-top: 20px; */
} 

#box2 h4:hover{
    color:#fff;
}

#box3 h4:hover{
    color:#fff;
}
#box4{
    margin-top: 20px;
}
#box4 h4{
    font-size: 20px;
    line-height: 40px;
    color:black;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 10px;
    
}
#box4 #symbols{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items:center;
    justify-content:space-between;

}



#symbols i{
    font-size:45px;
    /* border: 1px solid black; */
    border-radius: 50px;
}


#rights{
    /* background-color: red; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0px;
    padding: 0 14px;
    width: fit-content;
    position: relative;
    z-index: 99;
}
#rights h3{
    margin-left: 80px;
    padding: 5px;
    font-size:20px;
    font-weight: 500;
    color:#000;
    
}

#rights h4{
    margin-left: 10px;
    /* background-color: white; */
    padding: 5px;
    font-size:20px;
    font-weight: 500;
    color:#000;
    border-left:4px solid gray ;
}

#rights h4:hover{
    color:white;
}

#rights h3:hover{
    color:white;
}

/* iske aage kaam krnaa haii */

#info{
    position: relative;
    z-index:9;
    background-color: red;
    display: none;  
    transition: all ease 2s;  
}